<div class="container">
  <div style="text-align:center;margin-top:64px;">
    <h3>There's nothing to configure</h3>
    <h4>However, make sure you include the gem "Compliance" for this plugin to enable sharing elements</h4>
  </div>
</div>